@media screen and (max-width: 420px) {
  .hero {
    max-width: 330px;
  }

  .intro-text h1 {
    font-size: 2rem;
  }

  iframe {
    max-width: 330px;
  }

  .stand-1 {
    left: 140px;
  }

  .stand-2 {
    left: 195px;
  }

  .stars {
    max-width: 100vw;
  }

  .persons {
    max-width: 100vw;
  }
}