@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url(/assets/css/nav.css);
@import url(/assets/css/dark-light-theme.css);
@import url(/assets/css/hero.css);
@import url(/assets/css/about.css);
@import url(/assets/css/image-gallery.css);
@import url(/assets/css/simple-lightbox.min.css);
@import url(/assets/css/stakeholders.css);
@import url(/assets/css/subscription.css);
@import url(/assets/css/scrollup.css);
@import url(/assets/css/footer.css);
@import url(/assets/css/screen768.css);
@import url(/assets/css/screen420.css);

:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

body {
  font-family: "Roboto", sans-serif;
}